Common/Fifa/Passports.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Created with Liquid XML Studio Designer Edition 9.1.5.3408 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Passports">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Passport">
          <xs:annotation>
            <xs:documentation>Email address of the customer</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="IssueDate" type="xs:date" use="optional" />
            <xs:attribute name="ExpiryDate" type="xs:date" use="optional" />
            <xs:attribute name="IssuePlace" type="xs:string" />
            <xs:attribute name="Nationality" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string" />
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="PassportNumber" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
