Common/Fifa/TravelRequestFlights.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid XML Studio 7.1.0.1135 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Flights">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Flight">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Class">
                <xs:annotation>
                  <xs:documentation>Needs to be automatically filled from a previously entered Flight node. Possible values: economy, business,first</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="economy" />
                    <xs:enumeration value="business" />
                    <xs:enumeration value="first" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FromCity" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Needs to be automatically filled from a previously entered Flight node. The previously entered ToCity needs to be filled in this fields when this is the second flight segment.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ToCity" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Needs to be automatically filled from a previously entered Flight node. The previously entered FromCity needs to be filled in this fields when this is the second flight segment.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="ArrivalDate" type="xs:date" />
              <xs:element minOccurs="0" name="ArrivalTime" type="xs:time" />
              <xs:element minOccurs="0" name="DepartureDate" type="xs:date" />
              <xs:element minOccurs="0" name="DepartureTime" type="xs:time" />
              <xs:element name="Remark" type="xs:string">
                <xs:annotation>
                  <xs:documentation>CDATA</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>