Common/Fifa/TravelRequestAccommodations.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid XML Studio 7.0.0.604 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Accommodations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Accommodation">
          <xs:complexType>
            <xs:all>
              <xs:element name="RoomType" type="xs:string" />
              <xs:element name="Smoker" type="xs:boolean" />
              <xs:element name="City" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Free text</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Location" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Here a dropdown list with possible location information probably makes sense, as the user is unlikely to know what to enter here.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ArrivalDate" type="xs:date" />
              <xs:element name="ArrivalTime" type="xs:time" />
              <xs:element name="DepartureDate" type="xs:date" />
              <xs:element name="DepartureTime" type="xs:time" />
              <xs:element name="NormalCheckIn" type="xs:boolean" />
              <xs:element name="EarlyCheckIn" type="xs:boolean" />
              <xs:element name="LateCheckOut" type="xs:boolean" />
              <xs:element name="Remark" type="xs:string" />
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>