BaseData/MiscImport/MiscImport.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition 12.1.7.5079 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="..\BasedataImport.xsd" />
    <xs:element name="Miscellaneous">
        <xs:complexType>
            <xs:sequence minOccurs="0"
                         maxOccurs="unbounded">
                <xs:element name="Misc">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="Title"
                                        type="xs:string"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>TO Online internal name for this item</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Country"
                                        minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="IsoCode"
                                                          type="xs:string">
                                                <xs:annotation>
                                                    <xs:documentation>Two letter country code of address
														C_IATACODE
													</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Region"
                                        type="xs:string"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Region of the Country
										RE_VOLL
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="SubRegion"
                                        type="xs:string"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Subregion of the region
										SC_VOLL
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Destination"
                                        type="DestinationAttributes"
                                        minOccurs="0" />
                            <xs:element name="Request"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>is the room bookable on request or is it free
										sale
									</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="" />
                                        <xs:enumeration value="RQ" />
                                        <xs:enumeration value="FS" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Supplier"
                                        minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="Code"
                                                          type="xs:string">
                                                <xs:annotation>
                                                    <xs:documentation>Reservation-Supplier-Code for this room
													</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                            <xs:attribute name="Nr"
                                                          type="xs:nonNegativeInteger">
                                                <xs:annotation>
                                                    <xs:documentation>TO Online customer nr for this supplier
													</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PaySupplier"
                                        minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="Code"
                                                          type="xs:string">
                                                <xs:annotation>
                                                    <xs:documentation>Payment-Supplier-Code for this room
													</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                            <xs:attribute name="Nr"
                                                          type="xs:nonNegativeInteger">
                                                <xs:annotation>
                                                    <xs:documentation>TO Online customer nr for this supplier
													</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="VoucherSupplier"
                                        minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="Code"
                                                          type="xs:string">
                                                <xs:annotation>
                                                    <xs:documentation>Voucher-Supplier-Code for this room
													</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                            <xs:attribute name="Nr"
                                                          type="xs:nonNegativeInteger">
                                                <xs:annotation>
                                                    <xs:documentation>TO Online customer nr for this supplier
													</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Commission"
                                        type="xs:float"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Fixed commission for this item.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AutomatedFeeCode"
                                        type="xs:string"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Automated Fee Code. Used for automated
										cancellation and modification fees.
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MinimumPersons"
                                        type="xs:nonNegativeInteger"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>MI_MINPERS</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MaximumPersons"
                                        type="xs:nonNegativeInteger"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>MI_MAXPERS</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MinimumDays"
                                        type="xs:nonNegativeInteger"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>MI_FIXNODAYSMIN</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MaximumDays"
                                        type="xs:nonNegativeInteger"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>MI_FIXNODAYSMAX</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="InvoiceTitle"
                                        type="Translation"
                                        minOccurs="0" />
                            <xs:element name="InvoiceDetail"
                                        type="Translation"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>CDATA</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ItineraryTitle"
                                        type="Translation"
                                        minOccurs="0" />
                            <xs:element name="ItineraryDetail"
                                        type="Translation"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>CDATA</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VoucherTitle"
                                        type="xs:string"
                                        minOccurs="0" />
                            <xs:element name="VoucherDetail"
                                        type="xs:string"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Voucher information is in the language that the supplier understands and is thus not available in more than one language.
CDATA</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Passive"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>This item can no longer be booked. If a FromDate is specified, this item cannot be booked on or after the specified date.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:nonNegativeInteger">
                                            <xs:attribute name="FromDate"
                                                          type="xs:date" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="StartDateRelevant"
                                        type="xs:boolean"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>An excursion is normally start date relevant and does not require allotment on every day, but only on the first day.
MI_FIRSTDAYONLY</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Outbound"
                                        type="xs:boolean"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>MI_HIN</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Inbound"
                                        type="xs:boolean"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>MI_RUECK</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="TourboTitle"
                                        type="xs:string"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Tourbo title of item group. A group of items have the same Tourbo Code, e.g. TRABOE</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MiscCode"
                                        type="xs:string"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Tourbo Code
MI_TOURBOCODE</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MiscItemCode"
                                        type="xs:string"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Tourbo Item Code
MI_TOURBOITEMCODE</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="SupplierCode"
                                        type="xs:string"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>API Supplier Code
MI_SUPPLIERBOOKCODE</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="PriceInfo"
                                        type="xs:string"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>CDATA
MI_PREISINFO</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ItemInfos"
                                        type="ItemInfos"
                                        minOccurs="0" />
                            <xs:element name="Prices"
                                        minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Descs"
                                                    type="Desc">
                                            <xs:annotation>
                                                <xs:documentation>Description codes for use in the Prices
													node
												</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Currencies">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="1"
                                                             maxOccurs="4">
                                                    <xs:element name="Currency">
                                                        <xs:complexType>
                                                            <xs:attribute name="IdNr"
                                                                          use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:integer">
                                                                        <xs:enumeration value="1" />
                                                                        <xs:enumeration value="2" />
                                                                        <xs:enumeration value="3" />
                                                                        <xs:enumeration value="4" />
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                            <xs:attribute name="IsoCode"
                                                                          use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:length value="3" />
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PerDayPrices"
                                                    type="PerDayPricesChildren"
                                                    minOccurs="0" />
                                        <xs:element name="AddPerDayPrices"
                                                    type="AddPerDayPricesChildren"
                                                    minOccurs="0" />
                                        <xs:element name="OneTimes"
                                                    type="OneTimesChildren"
                                                    minOccurs="0" />
                                        <xs:element name="SpecialOffers"
                                                    type="SpecialOffersChildren"
                                                    minOccurs="0" />
                                        <xs:element name="EarlyBookings"
                                                    type="EarlyBookingsChildren"
                                                    minOccurs="0" />
                                    </xs:sequence>
                                    <xs:attribute name="KeepDataBeforeDate"
                                                  type="xs:date"
                                                  use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Generally all prices for a product are deleted, updated or new prices inserted. There is however a use case where prices are already entered in TO Online and the external system contains prices for the new season. In this case a date can be supplied as an attribute to the "Prices" node, and all prices whose end date is smaller than this date will not be deleted but remain in TO Online. If the date supplied is 2015-01-01 then all prices up until and including 2014-12-31 will not be deleted in Agent Online.</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Hotels"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>A transfer could be connected to one or more hotel rooms</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Hotel"
                                                    minOccurs="0"
                                                    maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="DestCode"
                                                              type="xs:string"
                                                              use="required" />
                                                <xs:attribute name="HotelCode"
                                                              type="xs:string"
                                                              use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                        <xs:attribute name="Key"
                                      type="xs:string"
                                      use="optional">
                            <xs:annotation>
                                <xs:documentation>Primary Key of the hotel room
								</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Action">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="ADD" />
                                    <xs:enumeration value="DELETE" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="System">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Prod" />
                                    <xs:enumeration value="Educ" />
                                    <xs:enumeration value="Test" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Type"
                                      type="xs:string"
                                      use="optional">
                            <xs:annotation>
                                <xs:documentation>Value = HotelRoom per Default
								</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
