Common/Dossier/Customer.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid Studio 2017 - Data Designer Edition 15.1.6.7549 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="..\fifa\CorporateCustomerCards.xsd" />
    <xs:include schemaLocation="..\Fifa\Visas.xsd" />
    <!--xs:include schemaLocation="..\Fifa\Projects.xsd" /-->
    <xs:include schemaLocation="..\Fifa\Passports.xsd" />
    <xs:include schemaLocation="..\GeneralCodes\ProjectType.xsd" />
    <xs:element name="Customer">
        <xs:annotation>
            <xs:documentation>This XSD can be used to specify the invoice receiver of a dossier, or can be used to return a list of customers searched for using the GetCustomer web service.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="CustomerSeq" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Sequence string used in Agent Online to identify the customer</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CustomerNr" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Customer number in Agent Online. Corresponds to the FAST ID in the FIFA database.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="AgentCode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Agent TravID or RBId, e.g 54A111 or 541234.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="6" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="UserId" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Customer number in Agent Online. Corresponds to the FAST ID in the FIFA database, or the Agent Online logon code for travel agent employees that have been entered in the Agent Online backend.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="20" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Password" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Password that allows an Agent Online user to log on to Agent Online. Can alos be used in specific interactive workflows to allow a user to logon to the interactive workflow. The password is irrelevant if a dossier is imported.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="20" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LastWebServiceModifyProfileDateTime" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Last dateTime when the customer modified their profile using the the SetCustomer web service.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Language" minOccurs="0" default="de-ch">
                    <xs:annotation>
                        <xs:documentation>Correspondace language for this customer, e.g. de-ch, en-us, fr-ch or it-ch.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:language">
                            <xs:enumeration value="de-ch" />
                            <xs:enumeration value="en-us" />
                            <xs:enumeration value="fr-ch" />
                            <xs:enumeration value="it-ch" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="InternalCustomerType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Short Description of the customertype
              Will be checked against existing customer type
            </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="50" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Gender" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Male or Female, Child or Infant (M/F/C/I)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="M" />
                            <xs:enumeration value="F" />
                            <xs:enumeration value="C" />
                            <xs:enumeration value="I" />
                            <xs:enumeration value="m" />
                            <xs:enumeration value="f" />
                            <xs:enumeration value="c" />
                            <xs:enumeration value="i" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Title" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>e.g. Dr., Prof.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="50" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="FirstName" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>First name of the invoice receiver or traveller</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="30" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LastName" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Last name of the invoice receiver or the traveller</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="60" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="DateOfBirth" type="xs:date" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Date of birth in ISO format: y-M-D.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Address1" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Street name incl. house number</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="50" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Address2" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Additional street information</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="50" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="PostalCode" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="10" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="City" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>City name</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="40" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Country" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Country name</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="IsoCode" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:minLength value="0" />
                                            <xs:maxLength value="3" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Email" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Email address of the customer</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="50" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Email2" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Additional email address of the customer</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0" />
                            <xs:maxLength value="50" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Mobile" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Mobile phone number of the customer. A complete telephne number can be sent as textdata, but it is also possible to send only the phone number in the textdata, and send the AreaCode separately as an attribute. It is advisable to send all phone or fax numbers as a complete string as the textdata or the relevant node and leave the AreaCode empty.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="AreaCode" use="optional">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0" />
                                    <xs:maxLength value="6" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Number" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Phone" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Phone number of the customer. ??? How to format the phone number ???</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="AreaCode" use="optional">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0" />
                                    <xs:maxLength value="6" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Number" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BusinessPhone" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Business phone number of the customer. ??? How to format the phone number ???</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="AreaCode" use="optional">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0" />
                                    <xs:maxLength value="6" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Number" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Fax" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Fax number of the customer. ??? How to format the faxnumber ???</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="AreaCode" use="optional">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0" />
                                    <xs:maxLength value="6" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Number" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Nationality" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Country name for the nationality</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="IsoCode" type="xs:string" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Passport" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Customer passport information. The textdata must be empty. All data is sent in attributes.,</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="PassportNumber" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ValidUntil" type="xs:date" use="required" />
                        <xs:attribute name="Nationality" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="Smoker" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Specifies if this customer is a smoker or not. This can be important for hotels that allow smoking in rooms.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FlightMealCode" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Flight Meal Code:
              can be empty, then the passenger is offered the standard meal
              AVML - ASIAN VEGETARIAN MEAL
              BBML - INFANT/BABY FOOD
              BLML - BLAND MEAL
              CHML - CHILD MEAL
              DBML - DIABETIC MEAL
              FPML - FRUIT PLATTER
              GFML - GLUTEN-FREE MEAL
              HFML - HIGH FIBRE MEAL
              HNML - HINDU (NON VEGETARIAN) MEAL
              JPML - JAPANESE MEAL (LH SPECIFIC)
              KSML - KOSHER MEAL
              LCML - LOW CALORIE MEAL
              LFML - LOW CHOLESTEROL/LOW FAT MEAL
              LPML - LOW PROTEIN MEAL
              LSML - LOW SODIUM, NO SALT ADDED
              MOML - MOSLEM MEAL
              NFML - NO FISH MEAL (LH SPECIFIC)
              NLML - NON LACTOSE MEAL
              OBML - JAPANESE OBENTO MEAL (UA SPECIFIC)
              ORML - ORIENTAL MEAL
              PRML - LOW PURIN MEAL
              RVML - RAW VEGETARIAN MEAL
              SFML - SEA FOOD MEAL
              SPML - SPECIAL MEAL, SPECIFY FOOD
              VGML - VEGETARIAN MEAL (NON-DAIRY)
              VLML - VEGETARIAN MEAL (LACTO-OVO)
            </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FlightSeatCode" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Flight seat code. Here the GDS seat code needs to be used.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TrainHalfPrice" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>"SBB Halbtax"</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean">
                                <xs:attribute name="ExpiryDate" type="xs:date" use="optional" />
                                <xs:attribute name="NrYears" use="optional">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:integer">
                                            <xs:enumeration value="1" />
                                            <xs:enumeration value="2" />
                                            <xs:enumeration value="3" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TrainGeneralAbo" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>"SBB General Abbonnement"</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean">
                                <xs:attribute name="ExpiryDate" type="xs:date" use="optional" />
                                <xs:attribute name="Class" use="optional">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:integer">
                                            <xs:enumeration value="1" />
                                            <xs:enumeration value="2" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="Transferable" type="xs:boolean" use="optional" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="HasSubordinates" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>If true, then this customer is a manager and has subordinates.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="HomeBase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Three letter airport code of the home base of this customer.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="3" />
                            <xs:minLength value="0" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="AllowGroupBooking" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Three letter airport code of the home base of this customer.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:enumeration value="0" />
                            <xs:enumeration value="1" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="IsAgent" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>If true, then the customer is an agent</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:boolean" />
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="Visas" minOccurs="0" />
                <xs:element ref="Passports" minOccurs="0" />
                <xs:element ref="CorporateCustomerCards" minOccurs="0" />
                <xs:element name="Superior" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="SuperiorCustomerNr" type="xs:integer" />
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Projects" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="Project" type="ProjectType" />
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="AllowPrivatMailing" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>True if the customer wants privat mailing like newsletter or so</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:all>
            <xs:attribute name="CustomerType" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="" />
                        <xs:enumeration value="PayCustomer" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>