Common/OLTExport/OLTExportResponse.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Created with Liquid XML Studio Designer Edition 9.1.5.3408 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="..\Items\DossierItem.xsd" />
  <xs:element name="OLTExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DossierItems">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="DossierItem" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name = "Version" type="xs:string" use="optional" />
      <xs:attribute name = "From" type="xs:string" use="optional" />
      <xs:attribute name = "To" type="xs:string" use="optional" />
      <xs:attribute name = "Date" type="xs:date" use="optional" />
      <xs:attribute name = "Time" type="xs:string" use="optional" />
      <xs:attribute name="Type" use="required" />
      <xs:attribute name="SubType" use="required" />
      <xs:attribute name = "Agent" type="xs:string" use="optional" />
      <xs:attribute name = "Lang" type="xs:string" use="optional" />
      <xs:attribute name = "Mode" type="xs:string" use="optional" />
      <xs:attribute name="StartDate" type="xs:date" use="optional" />
      <xs:attribute name="EndDate" type="xs:date" use="optional" />
      <xs:attribute name="Key" use="optional">
        <xs:annotation>
          <xs:documentation> Primary Key of the Item used in Database of reciever</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="InternalItem" use="required">
        <xs:annotation>
          <xs:documentation> Internal Itemtype name:
            Flight
            Car
            Hotel
            Miscellaneous
            Bus
            Train
            Ship
            Text
            Package
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Flight" />
            <xs:enumeration value="Car" />
            <xs:enumeration value="Hotel" />
            <xs:enumeration value="Miscellaneous" />
            <xs:enumeration value="Bus" />
            <xs:enumeration value="Train" />
            <xs:enumeration value="Ship" />
            <xs:enumeration value="Text" />
            <xs:enumeration value="Package" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
