Common/OLTExport/OLTExportRequest.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Created with Liquid XML Studio Designer Edition 9.1.5.3408 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation=".\ExportRequest.xsd" />
  <xs:element name="OLTExportRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ExportRequest" />
      </xs:sequence>
      <xs:attribute name = "Version" type="xs:string" use="optional" />
      <xs:attribute name = "From" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            Sender of the XML
            DynaPack
            ExportData
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name = "To" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Receiver of the XML </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name = "Date" type="xs:date" use="optional" />
      <xs:attribute name = "Time" type="xs:string" use="optional" />
      <xs:attribute name="Type" use="required">
        <xs:annotation>
          <xs:documentation>
            Internet = Dataexport
            Price (Not Activ)
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Internet" />
            <xs:enumeration value="Price" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="SubType" use="required">
        <xs:annotation>
          <xs:documentation>
            SpecialOffer
            BaseExport
            All
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="SpecialOffer" />
            <xs:enumeration value="BaseExport" />
            <xs:enumeration value="All" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Confirm" use="optional">
        <xs:annotation>
          <xs:documentation>Values: YES, NO CETS set this attribute to ?YES?, if the Agent confirmed compulsory information (TextC elements in Fab)(Refer to booking process) </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="YES" />
            <xs:enumeration value="NO" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name = "Agent" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            Country-code (2digits)+TraviId (4digits)
            (refer to table Country-code)
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name = "Lang" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            ISO Language code (DE, FR, IT, EN)
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name = "Mode" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            Values: TEST, EDUC, PROD
            EDUC for educational booking is obligatory
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
