BaseData/BaseData.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition 12.2.8.5459 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Desc">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Desc"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Every "Desc" has a DescId and the translations for this DescId. A price line has a DescId attribute which identifies which text is appropriate for the price line. Placing the text in a reference list reduces the size of the XML dramatically. The XML is also built 30% faster than if the text is added to each appropriate node.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="Translation">
                            <xs:attributeGroup ref="DescIdAttributeGroup" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ItemInfos">
        <xs:all>
            <xs:element name="ItemInfoTexts"
                        minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ItemInfoText"
                                    type="ItemInfoText"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>ItemInfo this Item, e.g. if in a </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ItemInfoRequests"
                        minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ItemInfoRequest"
                                    type="ItemInfoRequestAttributes"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ItemInfoText">
        <xs:all>
            <xs:element name="BeginDate"
                        type="xs:date"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Start date when an information applies. Inclusive.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndDate"
                        type="xs:date"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>End date when an information applies. Inclusive.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Invoice"
                        minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:enumeration value="0" />
                        <xs:enumeration value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Itinerary"
                        minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:enumeration value="0" />
                        <xs:enumeration value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="External"
                        minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:enumeration value="0" />
                        <xs:enumeration value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Title"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Title of info. Node is only sent if a value exists.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="de"
                                    type="xs:string"
                                    minOccurs="0" />
                        <xs:element name="en"
                                    type="xs:string"
                                    minOccurs="0" />
                        <xs:element name="fr"
                                    type="xs:string"
                                    minOccurs="0" />
                        <xs:element name="it"
                                    type="xs:string"
                                    minOccurs="0" />
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="Text"
                        type="Translation"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Description text of item info</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ItemInfoRequestAttributes">
        <xs:attribute name="Day"
                      type="xs:date">
            <xs:annotation>
                <xs:documentation>Date when the request information applies.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RQ">
            <xs:annotation>
                <xs:documentation>If this item can be booked on request, RQ = 1</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:nonNegativeInteger">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="FS">
            <xs:annotation>
                <xs:documentation>If this item can be booked on freesell FS = 1</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:nonNegativeInteger">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="FreeSellRelease"
                      type="xs:nonNegativeInteger">
            <xs:annotation>
                <xs:documentation>If Request = FS, then the Nr days that this item can be booked on FS before it becomes a RQ</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Translation">
        <xs:sequence>
            <xs:element name="de"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>German. Can be a CDATA.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="en"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>English. Can be a CDATA.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fr"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>French. Can be a CDATA.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="it"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Italian. Can be a CDATA.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PhoneAttributes">
        <xs:attribute name="AreaCode"
                      type="xs:string" />
        <xs:attribute name="Number"
                      type="xs:string"
                      use="required" />
        <xs:attribute name="CountryPrefix"
                      type="xs:string" />
    </xs:complexType>
    <xs:complexType name="DestinationAttributes">
        <xs:attribute name="CountryCode"
                      type="xs:string"
                      use="required">
            <xs:annotation>
                <xs:documentation>2-letter country code based on the destination</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Code"
                      type="xs:string"
                      use="required">
            <xs:annotation>
                <xs:documentation>IATA Code of the destination
                    HO_DESTINATION/DEST_CODE</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:attributeGroup name="DescIdAttributeGroup">
        <xs:attribute name="DescId"
                      type="xs:nonNegativeInteger"
                      use="required">
            <xs:annotation>
                <xs:documentation>In order to prevent duplication of data in the export, which would exponentially increase the size of the export file, common texts for the price lines are stored in the "Desc" node and are referenced by the DescId, e.g.
                    &lt;Descs&gt;
                    &lt;Desc
                    DescId="1"&gt;
                    &lt;de&gt;Preis pro Person/Nacht&lt;/de&gt;
                    &lt;fr&gt;Prix par personne/nuit&lt;/fr&gt;
                    &lt;/Desc&gt;
                    ...
                    &lt;PerDayPrice Day="2013-02-01" Price="271.00" DescId="1" /</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
</xs:schema>
