BaseData/HotelImport/HotelImport.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2021 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="..\BaseDataImport.xsd" />
    <xs:element name="Hotels">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Hotel">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="HotelName" type="Translation">
                                <xs:annotation>
                                    <xs:documentation>HO_NAME</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Address1" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>HO_STRASSE</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Address2" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>HO_STRASSEZUSATZ</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="PostalCode" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>HO_PLZ</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="City" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>SC_VOLL</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Country" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="IsoCode" type="xs:string">
                                                <xs:annotation>
                                                    <xs:documentation>Two letter country code of address
                                                        C_IATACODE</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Region" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Region of the Country
                                        RE_VOLL</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="SubRegion" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Subregion of the region
                                        SC_VOLL</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Phone" type="PhoneAttributes" minOccurs="0" />
                            <xs:element name="Fax" type="PhoneAttributes" minOccurs="0" />
                            <xs:element name="Mobile" type="PhoneAttributes" minOccurs="0" />
                            <xs:element name="Email" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Email address of hotel</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="WebURL" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>URL of Hotel web site</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HotelChain" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="ChainCode" type="xs:string" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Destination" type="DestinationAttributes" minOccurs="0" />
                            <xs:element name="HotelCode" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>HO_HOTELCODE</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GiataId" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>HO_HOTELCODE</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Location" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Hotel location</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Longitude" type="xs:float" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Longitude of hotel
                                        HO_LON
                                        -180.000000 to +180.000000</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Latitude" type="xs:float" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Latitude of hotel
                                        HO_LAT
                                        -180.000000 to +180.000000</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AutomatedFeeCode" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Automated Fee Code. Used for automated cancellation and modification fees.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Category" type="xs:float" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Category number: 0.0 to 6.0
                                        If 0.0, the category is unknown or undefined</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Passive" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>This room can no longer be booked. If a FromDate is specified, this item cannot be booked on or after the specified date.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:integer">
                                            <xs:attribute name="FromDate" type="xs:date" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Request" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>is the room bookable on request or is it free sale</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="" />
                                        <xs:enumeration value="RQ" />
                                        <xs:enumeration value="FS" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CatalogFlag" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>If this is a catalog hotel send true</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="PriceInfo" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>CDATA: Price information relevant for the sales employee</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="TomaNr" type="xs:string" minOccurs="0" />
                            <xs:element name="ItemInfos" type="ItemInfos" minOccurs="0" />
                            <xs:element name="HotelInfo" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation />
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="Location" type="Translation" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation />
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Building" type="Translation" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation />
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Equipment" type="Translation" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation />
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Catering" type="Translation" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation />
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Entertainment" type="Translation" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation />
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Suitable" type="Translation" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation />
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Manager" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="Salutation" type="xs:string" minOccurs="0" />
                                                    <xs:element name="FirstName" type="xs:string" minOccurs="0" />
                                                    <xs:element name="LastName" type="xs:string" minOccurs="0" />
                                                    <xs:element name="Phone" type="PhoneAttributes" minOccurs="0" />
                                                    <xs:element name="Email" type="xs:string" minOccurs="0" />
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SalesManager" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="Salutation" type="xs:string" minOccurs="0" />
                                                    <xs:element name="FirstName" type="xs:string" minOccurs="0" />
                                                    <xs:element name="LastName" type="xs:string" minOccurs="0" />
                                                    <xs:element name="Phone" type="PhoneAttributes" minOccurs="0" />
                                                    <xs:element name="Email" type="xs:string" minOccurs="0" />
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="InternalInfo" type="xs:string" minOccurs="0" />
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Rooms" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name="Room">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="RoomType" type="Translation" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>single, doubleroom...
                                                                ZI_DEUTSCH</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="Description" type="Translation" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Room description
                                                                ZI_BESCHRIEBDEUTSCH</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MealDescription" type="Translation" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Description of included meal
                                                                ZI_MAHLZEITDEUTSCH</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MealCode" type="xs:string" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>ZM_ALTCODE</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="NormalOccupancy" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Normal occupancy</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MinimalOccupancy" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Maximal occupancy</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MaximalOccupancy" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Minimal occupancy</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MaxAdults" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Maximum number of adults</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="ExtraBedAdults" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Number of extra bed for adults</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="ExtraBedChildren" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Number of extra bed for Children</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="Request" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>is the room bookable on request or is it free sale</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="" />
                                                                <xs:enumeration value="RQ" />
                                                                <xs:enumeration value="FS" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="APIHotelCode" type="xs:string" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>API Hotel Code</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="APIRoomCode" type="xs:string" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>API Room Code</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="TourboCode" type="xs:string" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Tourbo Room Code</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="TourboText" type="xs:string" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Tourbo text for the room. Will be displayed in Tour Online / Cets.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="TourboMealCode" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Tourbo Meal Code:
                                                                BB - Bed and breakfast
                                                                HB - Half board
                                                                FB - Full board
                                                                AL - All inclusive
                                                                RO - Room only
                                                                MP - Meal according to program</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="" />
                                                                <xs:enumeration value="BB" />
                                                                <xs:enumeration value="HB" />
                                                                <xs:enumeration value="FB" />
                                                                <xs:enumeration value="AL" />
                                                                <xs:enumeration value="RO" />
                                                                <xs:enumeration value="MP" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="AutomatedFeeCode" type="xs:string" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Automated Fee Code. Used for automated cancellation and modification fees.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="Passive" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>This room can no longer be booked. If a FromDate is specified, this item cannot be booked on or after the specified date.</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:integer">
                                                                    <xs:attribute name="FromDate" type="xs:date" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="AllotmentFlag" type="xs:boolean" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>If this room has allotment, sent true.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="Supplier" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="Code" type="xs:string">
                                                                        <xs:annotation>
                                                                            <xs:documentation>Reservation-Supplier-Code for this room</xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:attribute>
                                                                    <xs:attribute name="Nr" type="xs:nonNegativeInteger">
                                                                        <xs:annotation>
                                                                            <xs:documentation>TO Online customer nr for this supplier</xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="PaySupplier" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="Code" type="xs:string">
                                                                        <xs:annotation>
                                                                            <xs:documentation>Payment-Supplier-Code for this room</xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:attribute>
                                                                    <xs:attribute name="Nr" type="xs:nonNegativeInteger">
                                                                        <xs:annotation>
                                                                            <xs:documentation>TO Online customer nr for this supplier</xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="VoucherSupplier" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="Code" type="xs:string">
                                                                        <xs:annotation>
                                                                            <xs:documentation>Voucher-Supplier-Code for this room</xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:attribute>
                                                                    <xs:attribute name="Nr" type="xs:nonNegativeInteger">
                                                                        <xs:annotation>
                                                                            <xs:documentation>TO Online customer nr for this supplier</xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="ItemInfos" type="ItemInfos" minOccurs="0" />
                                                    <xs:element name="Prices" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Descs" type="Desc">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Description codes for use in the Prices node</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="Currencies">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs="1" maxOccurs="4">
                                                                            <xs:element name="Currency">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="IdNr" use="required">
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:integer">
                                                                                                <xs:enumeration value="1" />
                                                                                                <xs:enumeration value="2" />
                                                                                                <xs:enumeration value="3" />
                                                                                                <xs:enumeration value="4" />
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:attribute>
                                                                                    <xs:attribute name="IsoCode" use="required">
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:string">
                                                                                                <xs:length value="3" />
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:attribute>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="PeriodPrices" type="PeriodPricesChildren" minOccurs="0" />
                                                                <xs:element name="AddPeriodPrices" type="AddPeriodPricesChildren" minOccurs="0" />
                                                                <xs:element name="PerDayPrices" type="PerDayPricesChildren" minOccurs="0" />
                                                                <xs:element name="AddPerDayPrices" type="AddPerDayPricesChildren" minOccurs="0" />
                                                                <xs:element name="OneTimes" type="OneTimesChildren" minOccurs="0" />
                                                                <xs:element name="SpecialOffers" type="SpecialOffersChildren" minOccurs="0" />
                                                                <xs:element name="EarlyBookings" type="EarlyBookingsChildren" minOccurs="0" />
                                                            </xs:sequence>
                                                            <xs:attribute name="KeepDataBeforeDate" type="xs:date" use="optional">
                                                                <xs:annotation>
                                                                    <xs:documentation>Generally all prices for a product are deleted, updated or new prices inserted. There is however a use case where prices are already entered in TO Online and the external system contains prices for the new season. In this case a date can be supplied as an attribute to the "Prices" node, and all prices whose end date is smaller than this date will not be deleted but remain in TO Online. If the date supplied is 2015-01-01 then all prices up until and including 2014-12-31 will not be deleted in Agent Online.</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Included" type="Translation" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>CDATA, describes what amenities are included in this booking.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="RoomTypeCode" type="xs:string" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>
| CODE | DE                           | EN                 | FR                       | IT                          | INFX |
|------|------------------------------|--------------------|--------------------------|-----------------------------|------|
| OFF  | Laut Ausschreibung           | According to offer | Selon l'appel d'offres   | Secondo l'offerta           | 0    |
| SG   | Einzelzimmer                 | Single room        | Chambre simple           | Camera singola              | 1    |
| DB   | Doppelzimmer                 | Double room        | Chambre double           | Camera doppia               | 2    |
| TR   | Dreibettzimmer               | Triple room        | Chambre triple           | Camera tripla               | 3    |
| QU   | Vierbettzimmer               | Quadruple room     | Chambre quadruple        | Camera quadrupla            | 4    |
| MU   | Multibettzimmer              | Multibed room      | Chambre à plusieurs lits | Camera a più letti          | 5    |
| TW   | Zweibettzimmer (twin room)   | Twin room          | Salle double             | Camera doppia               | 6    |
| FM   | Familienzimmer               | Family room        | Salle familiale          | Camera familiare            | 7    |
| ST   | Studio                       | Studio             | Studio                   | Studio                      | 8    |
| JN   | Juniorsuite                  | Junior suite       | Suite junior             | Junior suite                | 9    |
| SU   | Suite                        | Suite              | Suite                    | Suite                       | 10   |
| DU   | Duplex                       | Duplex             | Duplex                   | Duplex                      | 11   |
| AP   | Appartement                  | Apartment          | Appartement              | Appartamento                | 12   |
| BU   | Bungalow                     | Bungalow           | Bungalow                 | Bungalow                    | 13   |
| VI   | Villa                        | Villa              | Villa                    | Villa                       | 14   |
| HF   | Ferienwohnung (holiday flat) | Holiday flat       | Appartement de vacances  | Appartamento per le vacanze | 15   |
| HH   | Ferienhaus (holiday home)    | Holiday home       | Maison de vacances       | Casa vacanze                | 16   |
| SR   | Superior-Zimmer              | Superior room      | Chambre supérieure       | Camera superiore            | 17   |
| DR   | Deluxe-Zimmer                | Deluxe room        | Chambre de luxe          | Camera deluxe               | 18   |</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="RoomViewCode" type="xs:string" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>
| CODE | DE                                   | EN                         | FR                               | IT                                | INFX |
|------|--------------------------------------|----------------------------|----------------------------------|-----------------------------------|------|
| ST   | Standard / Kein besonderer Ausblick  | Standard / No special view | Standard / Sans vue particulière | Standard / Nessuna vista speciale | 0    |
| SV   | Meerblick                            | Sea view                   | Vue sur la mer                   | Vista sul mare                    | 1    |
| SS   | Seitlicher Meerblick                 | Side sea view              | Vue latérale sur la mer          | Vista mare laterale               | 2    |</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="RoomQualityCode" type="xs:string" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>
| CODE | DE                  | EN                  | FR                   | IT                     | INFX |
|------|---------------------|---------------------|----------------------|------------------------|------|
| ST   | Standard            | Standard            | Standard             | Standard               | 0    |
| SU   | Superior            | Superior            | Superior             | Superior               | 1    |
| DX   | Deluxe              | Deluxe              | Deluxe               | Deluxe                 | 2    |
| SD   | Superior und Deluxe | Superior and Deluxe | Supérieur et Deluxe  | Superior e Deluxe      | 3    |
| EB   | Economy Budget      | Economy Budget      | Budget de l'économie | Bilancio dell'economia | 4    |</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ReqArrTransfer" type="xs:integer" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Arrival Transfer is required. Hotel must have a linked outbound Miscellaneous Transfer</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ReqDepTransfer" type="xs:integer" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Departure Transfer is required. Hotel must have a linked inbound Miscellaneous Transfer</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:all>
                        <xs:attribute name="Key" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>Primary Key of the hotel room</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Action">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="ADD" />
                                    <xs:enumeration value="DELETE" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="System">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Prod" />
                                    <xs:enumeration value="Educ" />
                                    <xs:enumeration value="Test" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Type" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>Value = HotelRoom per Default</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>