Common/GeneralCodes/Code1.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid XML Studio 7.1.0.1135 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Code1List">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Code1">
          <xs:complexType>
            <xs:attribute name="Seq" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="0" />
                  <xs:maxLength value="20" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Code" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="0" />
                  <xs:maxLength value="30" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Description" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="0" />
                  <xs:maxLength value="100" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="System" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Prod" />
            <xs:enumeration value="Educ" />
            <xs:enumeration value="Test" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>