Common/GeneralCodes/Descriptions.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Created with Liquid XML Studio Designer Edition 9.1.5.3408 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Descriptions">
    <xs:sequence>
      <xs:element name="German" type="xs:string" minOccurs="0" />
      <xs:element name="English" type="xs:string" minOccurs="0" />
      <xs:element name="French" type="xs:string" minOccurs="0" />
      <xs:element name="Italian" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
