Common/GeneralCodes/ImageType.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2015 Designer Edition 13.1.0.5909 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType name="ImageType">
            <xs:all>
                <xs:element name="Id" type="xs:string" minOccurs="0" />
                <xs:element name="Name" type="xs:string" minOccurs="0" />
                <xs:element name="Type" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>e.g. jpg, gif, png, etc.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Height" type="xs:integer" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>height in pixel of picture</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Width" type="xs:integer" minOccurs="0" />
                <xs:element name="Size" type="xs:integer" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Size in bytes of image</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Encoding" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>encoding of the image. Currently only "base64"</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Data" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Encoded string of the image.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:all>
        </xs:complexType>
</xs:schema>
