Common/GeneralCodes/ProjectType.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid XML 2014 Designer Edition 12.1.7.5079 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ProjectType">
        <xs:sequence>
            <xs:element name="Project"
                        maxOccurs="6">
                <xs:complexType>
                    <xs:attribute name="Seq"
                                  type="xs:string"
                                  use="optional" />
                    <xs:attribute name="Code"
                                  type="xs:string"
                                  use="required" />
                    <xs:attribute name="Description"
                                  type="xs:string"
                                  use="required" />
                    <xs:attribute name="Percentage"
                                  use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minInclusive value="0" />
                                <xs:maxInclusive value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="ExtCostManagement"
                                  type="xs:boolean" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="System"
                      use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Prod" />
                    <xs:enumeration value="Educ" />
                    <xs:enumeration value="Test" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
