Common/GeneralCodes/TravellerDossierItemType.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>
<!--Created with Liquid XML Studio Designer Edition 8.1.4.2482 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TravellerDossierItemType">
    <xs:attribute name="TravellerSeq" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="0" />
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="TravellerId" type="xs:integer" use="required">
      <xs:annotation>
        <xs:documentation>This value is used for finding the correct traveler.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CustomerNr" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>Customer number of this traveller, if the customer is in the Agent Online customer database.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TicketPrice" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>Ticket price for the Customer. Supply only in  is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TaxPrice" type="xs:decimal" use="optional">
      <xs:annotation>
        <xs:documentation>Tax price for the Customer. Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TicketingAirline" use="optional">
      <xs:annotation>
        <xs:documentation>Ticketing airline number (014) or string (AC). Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="0" />
          <xs:maxLength value="3  " />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Ticket1" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>Ticketnumber for Segment1. Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Ticket2" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>Ticketnumber for Segment2. Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Ticket3" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>Ticketnumber for Segment3. Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Ticket4" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>Ticketnumber for Segment4. Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Ticket5" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>Ticketnumber for Segment5. Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Seat1" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Seatnumber for Segment1. Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Seat2" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Seatnumber for Segment2. Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Seat3" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Seatnumber for Segment3. Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Seat4" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Seatnumber for Segment4. Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Seat5" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Seatnumber for Segment5. Supply only in dossieritem of type Package if Package is Flight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
