Common/Items/SeatReservation.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Created with Liquid XML Studio Designer Edition 9.1.5.3408 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="SeatReservation">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" name="TravellerId" type="xs:integer">
          <xs:annotation>
            <xs:documentation>Number of persons</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="TransportationNumber" type="xs:string">
          <xs:annotation>
            <xs:documentation>Bus, train, ship or flightnumber</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Floor" type="xs:integer">
          <xs:annotation>
            <xs:documentation>Floor number (0,1,2,3,..)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Row" type="xs:integer">
          <xs:annotation>
            <xs:documentation>Rownumber</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Seat" type="xs:string">
          <xs:annotation>
            <xs:documentation>Seatnumber</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ConfirmationNr">
          <xs:complexType>
            <xs:attribute name="ConfirmatioNr" type="xs:integer" />
            <xs:attribute name="ConfirmedBy" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
