Common/Items/Text.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Text">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Title" type="xs:string" minOccurs="0" />
                <xs:element name="Detail" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>CDATA</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <!--   <xs:element minOccurs="0" name="Type" type="xs:string"/> FALSCH-->
                <xs:element name="InternalType" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="Code">
                            <xs:annotation>
                                <xs:documentation>internal number from 1 to 13</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Description">
                            <xs:annotation>
                                <xs:documentation>internal description of the type</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <!--xs:element minOccurs="0" maxOccurs="2" name="Price" >
                    <xs:complexType>
                        <xs:attribute name="Amount"/>
                        <xs:attribute name="Quantity"/>
                        <xs:attribute name="Currency" >
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="CHF" />
                                    <xs:enumeration value="EUR" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element-->
                <xs:element name="InsuranceNr" type="xs:string" minOccurs="0" />
                <xs:element name="InternalInsuranceCode" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Internal insurance Code needed if it is a insurance</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IsInvoiceText" type="xs:integer" minOccurs="0" />
                <xs:element name="IsItineraryText" type="xs:integer" minOccurs="0" />
                <xs:element name="IsBeginText" type="xs:integer" minOccurs="0" />
                <xs:element name="IsEndText" type="xs:integer" minOccurs="0" />
                <xs:element name="IsNoCostCenter" type="xs:integer" minOccurs="0" />
                <xs:element name="IsOfferText" type="xs:integer" minOccurs="0" />
                <xs:element name="IgnoreEndDate" type="xs:integer" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>When 1, then the EndDate for this element is ignored for the calculation of the ReturnDate of the dossier, and the EndDate is ignored for the Export to Wetu.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Insurance" use="optional">
                <xs:annotation>
                    <xs:documentation> is an insurance item:
            YES
            NO
          </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="YES" />
                        <xs:enumeration value="NO" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>