BaseData/MiscExport/MiscExport.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2015 Designer Edition 13.1.1.5927 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="..\BaseDataExport.xsd" />
    <xs:element name="Miscellaneous">
        <xs:complexType>
            <xs:all>
                <xs:element name="Title" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>TO Online internal name for this item
						</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Country" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="IsoCode" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>Two letter country code of address
											C_IATACODE
										</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Region" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Region of the Country
							RE_VOLL
						</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SubRegion" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Subregion of the region
							SC_VOLL
						</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Destination" type="DestinationAttributes" minOccurs="0" />
                <xs:element name="Supplier" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="Code" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>Reservation-Supplier-Code for this room
										</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="Nr" type="xs:nonNegativeInteger">
                                    <xs:annotation>
                                        <xs:documentation>TO Online customer nr for this supplier
										</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PaySupplier" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="Code" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>Payment-Supplier-Code for this room
										</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="Nr" type="xs:nonNegativeInteger">
                                    <xs:annotation>
                                        <xs:documentation>TO Online customer nr for this supplier
										</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="VoucherSupplier" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="Code" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>Voucher-Supplier-Code for this room
										</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="Nr" type="xs:nonNegativeInteger">
                                    <xs:annotation>
                                        <xs:documentation>TO Online customer nr for this supplier
										</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MinimumPersons" type="xs:nonNegativeInteger" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>MI_MINPERS</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MaximumPersons" type="xs:nonNegativeInteger" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>MI_MAXPERS</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MinimumDays" type="xs:nonNegativeInteger" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>MI_FIXNODAYSMIN</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MaximumDays" type="xs:nonNegativeInteger" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>MI_FIXNODAYSMAX</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="InvoiceTitle" type="Translation" minOccurs="0" />
                <xs:element name="InvoiceDetail" type="Translation" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>CDATA</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ItineraryTitle" type="Translation" minOccurs="0" />
                <xs:element name="ItineraryDetail" type="Translation" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>CDATA</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Passive" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This item can no longer be booked. If a FromDate
							is specified, this item cannot be booked on or after the
							specified date.
						</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:nonNegativeInteger">
                                <xs:attribute name="FromDate" type="xs:date" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="StartDateRelevant" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>An excursion is normally start date relevant and
							does not require allotment on every day, but only on the first
							day.
							MI_FIRSTDAYONLY
						</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Outbound" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>MI_HIN</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Inbound" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>MI_RUECK</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TourboTitle" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tourbo title of item group. A group of items
							have the same Tourbo Code, e.g. TRABOE
						</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MiscCode" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tourbo Code
							MI_TOURBOCODE
						</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MiscItemCode" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tourbo Item Code
							MI_TOURBOITEMCODE
						</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SupplierCode" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>API Supplier Code
							MI_SUPPLIERBOOKCODE
						</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Hotels" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>A transfer could be connected to one or more
							hotel rooms
						</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Hotel" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="HotelKey" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Descs" type="Desc" minOccurs="0" />
                <xs:element name="Prices" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Currency" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="PerDayPrices" type="PerDayPricesChildren" minOccurs="0" />
                                        <xs:element name="AddPerDayPrices" type="AddPerDayPricesChildren" minOccurs="0" />
                                        <xs:element name="OneTimes" type="OneTimesChildren" minOccurs="0" />
                                        <xs:element name="SpecialOffers" minOccurs="0">
                                            <xs:complexType>
                                                <xs:complexContent mixed="false">
                                                    <xs:extension base="SpecialOffersChildren" />
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="EarlyBookings" type="EarlyBookingsChildren" minOccurs="0" />
                                    </xs:all>
                                    <xs:attribute name="IsoCode" type="xs:string" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Allotments" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Allotment" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="Date" type="xs:date">
                                        <xs:annotation>
                                            <xs:documentation>Date for this allotment item
											</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="Av" type="xs:float">
                                        <xs:annotation>
                                            <xs:documentation>The rest availability of this item
											</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="Rel" type="xs:date">
                                        <xs:annotation>
                                            <xs:documentation>Release date.
												If the current date is GREATER
												than the release date, then
												this item cannot be booked on
												allotment.
											</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="MinStay" type="xs:date">
                                        <xs:annotation>
                                            <xs:documentation>Minimum stay for this item.
												If the END DATE
												of the booking is LESS THAN OR EQUAL TO the
												MinStayDate, then
												this item cannot be booked on allotment.
												e.g.
												Product Booking
												Dates: From=1. JAN, To=2.Jan
												If the MinStayDate=2. JAN, this
												item cannot be booked on
												allotment. If the MinStayDate=1. JAN
												then this item CAN be
												booked on allotment.
											</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="RQ" type="xs:boolean">
                                        <xs:annotation>
                                            <xs:documentation>Indicates if this item can be booked on
												Request.
												One always needs to frst check if a product has
												allotment, then
												if it is available on Free-Sell, then look to
												see if it is
												available on Request.
											</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="FS" type="xs:boolean">
                                        <xs:annotation>
                                            <xs:documentation>Indicates if this item can be booked on
												Free-Sell.
												One always needs to frst check if a product has
												allotment, then
												if it is available on Free-Sell, then look to
												see if it is
												available on Request.
											</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CancellationFees" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CancellationFee" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="BeginDate" type="xs:date" />
                                        <xs:element name="EndDate" type="xs:date" />
                                        <xs:element name="Percent" type="xs:float" minOccurs="0" />
                                        <xs:element name="Amount" type="xs:float" minOccurs="0" />
                                        <xs:element name="DaysBeforeDepartureBegin" type="xs:integer" />
                                        <xs:element name="DaysBeforeDepartureEnd" type="xs:integer" />
                                        <xs:element name="NrDaysFeeApply" type="xs:integer" />
                                        <xs:element name="PriceType" type="xs:integer">
                                            <xs:annotation>
                                                <xs:documentation>1 = Cancellation Fee</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="InternalPriceType" type="xs:string" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="ItemInfos" type="ItemInfos" minOccurs="0" />
            </xs:all>
            <xs:attribute name="Type" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>Value = Miscellaneous per Default
					</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Delete">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:enumeration value="0" />
                        <xs:enumeration value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="System">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Prod" />
                        <xs:enumeration value="Educ" />
                        <xs:enumeration value="Test" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="TOCode" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>Tour operator code, e.g. STOH for Stohler, KNE for Knecht.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="MiscKey" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>Primary Key of the miscellaneous item
					</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
