BaseData/CarExport/Carexport.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition 12.2.6.5324 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="..\BaseData.xsd" />
    <xs:element name="Car">
        <xs:complexType>
            <xs:all>
                <xs:element name="Company"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Car rental company</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Address1"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="Address2"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="Country"
                            minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="IsoCode"
                                              type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>Two letter country code of address</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PostalCode"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="City"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="Region"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Region of the Country
                            RE_VOLLy</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SubRegion"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Subregion of the region: SC_VOLL</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Phone"
                            type="PhoneAttributes"
                            minOccurs="0" />
                <xs:element name="Fax"
                            type="PhoneAttributes"
                            minOccurs="0" />
                <xs:element name="Natel"
                            type="PhoneAttributes"
                            minOccurs="0" />
                <xs:element name="Mail"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="Internet"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="Vendor"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="Destination"
                            type="DestinationAttributes"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Destination code of the car company or catalog for this company. Note: this is normally not a real destination but rather an identifier, e.g. AL1 for Alamo.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CarCode"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="CompanyReferenz"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="Text"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>CDATA</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PriceInfo"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>CDATA</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Category"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="Type"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="SupplierInfos"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>CDATA display for supplier information</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PriceInfo"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="Passive"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This car can no longer be booked. If a FromDate is specified, this item cannot be booked on or after the specified date.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:integer">
                                <xs:attribute name="FromDate"
                                              type="xs:date" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Category"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="CRSCode"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="Type"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>CDATA</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TourboCode"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="Camper"
                            type="xs:boolean"
                            minOccurs="0" />
                <xs:element name="Miscellaneous"
                            type="xs:boolean"
                            minOccurs="0" />
                <xs:element name="PlanCode"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="TourboDescription"
                            type="xs:string"
                            minOccurs="0" />
                <xs:element name="IncludedDescription"
                            type="Translation"
                            minOccurs="0" />
                <xs:element name="Supplier"
                            minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="Code"
                                              type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>Reservation-Supplier-Code for this room
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="Nr"
                                              type="xs:nonNegativeInteger">
                                    <xs:annotation>
                                        <xs:documentation>TO Online customer nr for this supplier
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ItemInfos"
                            type="ItemInfos"
                            minOccurs="0" />
            </xs:all>
            <xs:attribute name="Key"
                          type="xs:string"
                          use="required">
                <xs:annotation>
                    <xs:documentation> Primary Key of the car </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Action">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ADD" />
                        <xs:enumeration value="DELETE" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="System">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Prod" />
                        <xs:enumeration value="Educ" />
                        <xs:enumeration value="Test" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Type"
                          type="xs:string">
                <xs:annotation>
                    <xs:documentation>Value = Car per Default</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
